# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
/build/
app/build/

# Ignore all IDE-specific files
.vscode/
.idea/

# Ignore local configuration files
*.iml

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore compiled class files
*.class

# Ignore JAR files
*.jar

# Ignore binary output files
*.bin
*.bin.idx

# Python cache
__pycache__/
*.pyc
# *.py

*.war
*.zip
